@import "../../../scss/index";

.abilitiesBlock {
    @include flexCenter(column);
    padding: 60px 0px;

    position: relative;
    height: 920px;

    background: center/100% no-repeat url("../../../img/2.png") !important;
    background-size: cover !important;
    overflow-y: hidden;

    h2,
    h3,
    h4,
    p,
    button,
    hr,
    .cards,
    .card {
        max-width: 1200px;
        margin: 5px;
    }

    h2,
    h3,
    h4 {
        margin-bottom: 15px;
    }

    hr {
        color: $text-color-gray;
        margin-bottom: 80px;
    }

    .cards {
        display: grid;
        grid-template-rows: 300px 300px;
    }

    .cardsRow1,
    .cardsRow2 {
        @include flexCenter(row);

        &:first-child {
            margin-bottom: 40px;
        }
    }

    *:not(.overlay) {
        z-index: 2;
    }

    .overlay {
        @include overlay();
    }
}
