$default-font: "roboto-example", sans-serif;
$accent: orange;

$blue-color: #1678c2;
$green-color: #69f0ae;
$main-bg-color: #eeeeee;
$second-bg-color: #1c1c22;
$main-content-color: #333333;
$form-color: #d8d8d8;
$inputs-color: #1c1e20;
$inputs-color-focus: #6f6c6c4f;
$text-color: #eeeeee;
$text-color-focus: #6dfce9;
$text-color-light: $text-color;
$text-color-dark: darken($text-color, 70%);
$text-color-gray: darken($text-color, 40%);
$text-color-dimmed: darken($text-color, 20%);

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 20px;
$grid-columns: 12;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
);

$gutter: $grid-gutter-width;
