$main-bg-color: #f8f8f8;
$text-color: #ffffff;
$text-color-focus: #6dfce9;
$text-color-light: $text-color;
$text-color-dark: darken($text-color, 75%);
$text-color-gray: darken($text-color, 40%);
$text-color-dimmed: darken($text-color, 20%);
$hoverDuration: 0.45s;
