@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    flex-direction: $direction;
}

@mixin flexLeft($direction) {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin: auto;

    flex-direction: $direction;
}
