@import "../../../scss/index";

.intro {
    @include flexCenter(column);

    position: relative;
    height: 760px;

    background: center/100% no-repeat url("../../../img/1.png") !important;
    background-size: cover !important;
    overflow-y: hidden;

    *:first-child {
        margin-top: 60px;
    }

    .overlay {
        @include overlay();
    }

    h1,
    p,
    button,
    hr {
        z-index: 2;
        max-width: 850px;
    }

    p {
        max-width: 800px;
    }

    button {
        margin: 90px 0px 40px 0px !important;
    }
}
