@import "scss/index";

.App {
    @include flexCenter(column);

    h1 {
        font-family: "Playfair Display", serif;
        font-size: 40px;
    }

    h1,
    h2,
    h3,
    p {
        text-align: center;
        margin: 20px;

        &.light {
            color: $text-color-light;
        }
        &.dark {
            color: $text-color-dark;
        }
    }

    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        // letter-spacing: 2px;
    }

    div {
        @include flexCenter(column);
        width: 100%;
    }

    hr {
        width: 3%;
        color: rgba(16, 167, 171, 1);
    }
}
